# === Server ==================================================================
PORT=5000
NODE_ENV=development

# === Database ================================================================
DB_URL=mongodb+srv://<user>:<pass>@cluster.mongodb.net/mission-bazar?retryWrites=true&w=majority

# === JWT =====================================================================
JWT_ACCESS_SECRET=your_access_secret_here
JWT_ACCESS_EXPIRES=10d
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES=30d

# === Bcrypt ==================================================================
BCRYPT_SALT_ROUND=12

# === Cloudinary ==============================================================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# === SSLCommerz (Sandbox) ====================================================
SSL_STORE_ID=your_store_id
SSL_STORE_PASS=your_store_pass
SSL_PAYMENT_API=https://sandbox.sslcommerz.com/gwprocess/v3/api.php
SSL_VALIDATION_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
SSL_IPN_URL=http://localhost:5000/api/v1/payment/validate-payment
SSL_SUCCESS_BACKEND_URL=http://localhost:5000/api/v1/payment/success
SSL_FAIL_BACKEND_URL=http://localhost:5000/api/v1/payment/fail
SSL_CANCEL_BACKEND_URL=http://localhost:5000/api/v1/payment/cancel
SSL_SUCCESS_FRONTEND_URL=http://localhost:5173/payment/success
SSL_FAIL_FRONTEND_URL=http://localhost:5173/payment/fail
SSL_CANCEL_FRONTEND_URL=http://localhost:5173/payment/cancel

# === SMTP (Gmail) ============================================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_FROM=your_email@gmail.com
SMTP_PASS=your_gmail_app_password

# === Redis ===================================================================
REDIS_HOST=your_redis_host
REDIS_PORT=18328
REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password

# === Client ==================================================================
CLIENT_URL=http://localhost:5173
